* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration:none ;
}
@font-face {
	font-display: auto;
	font-family: gordita_regular;
	src: url(../fonts/gordita/GorditaRegular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-display: auto;
	font-family: gordita_medium;
	src: url(../fonts/gordita/GorditaMedium.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gordita_bold;
	src: url(../fonts/gordita/GorditaBold.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.slick-initialized {
    /* width: 318px !important; */
    width: 100% !important;
}
.slick-track {
   height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.slick-list {
    /* width: 318px;
    display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 215px;
}
.slick-prev{
    font-size: 20px;
    position: absolute;
    /* display: block; */
    display: none;
    height: 30px;
    z-index: 1;
    width: 30px;
    right: 20px;
    color: #000;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: #fff;
     /* color: transparent;  */
    top: 44%;
    border-radius: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;

}
.slick-next {
    font-size: 20px;
    position: absolute;
   /* display: block; */
   display: none;
    height: 30px;
    width: 30px;
    left: 16px;
    color: #000;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    /* background: transparent; */
    /* color: transparent; */
    top: 44%;
    border-radius: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}
.slick-slide {
    height: 100%;
}
.slick-dots {
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    position: absolute !important;
    bottom: 34px;
    left: 0;
    right: 0;
    width: 100px;
    margin: 0 auto;
}
li {
    color: #7a7575;
  
}
.slick-active {
    color: #fff;
}
button {
    display: none;
}
li::marker {
    width: 10px;
    height: 10px;
}
.rdrDay {
    background-color: #7a7575;
}
.rdrDayPassive {
    display: block;
    color: #7a7575;
    
}
.rdrDays {
    height: 185px;
}